@import '../node_modules/bulma/css/bulma.min';
@import '../node_modules/luminous-lightbox/dist/luminous-basic.min';

html, body {
  height: 100%;
  background-color: hsl(0, 0%, 98%);
}

.bg {
  position: relative;
  // background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40%;
  opacity: 0;
}

#store {
  background-position: bottom;
  background-image: url('../img/store.png');
}

#event {
  background-position: bottom;
  background-image: url('../img/event.png');
}

#stage {
  background-image: url('../img/stage.png');
}

#maps {
  background-image: url('../img/access.png');
}

.section {
  opacity: 0;
}

#twitter {
  background-color: hsl(210, 100%, 85%);
  @extend .has-text-white;
}

#infomations {
  background-color: hsl(60, 100%, 75%);

  .content {
    height: 20em;
    overflow: scroll;
  }
}

img.is-rounded {
  padding: 2.5em;
}

.post {
  text-align: justify;

  &-date {
    text-align: right;
    font-size: .8em;
  }
}

#sponsors {
  background-color: hsl(75, 100%, 65%);
  color: hsl(0, 0%, 37%);
}

.card {
  margin-bottom: 1.5rem;
}

figure.image {
  img {
    border-radius: 1em;
  }

  &.stage-img {
    width: 40em;
    height: 27em;
  }

  &.stage-img-square {
    width: 33em;
    height: 33em;
  }
}

.stage {
  .columns {
    margin: 3em 0;
  }
}

.ballon-r {
  position: relative;
  padding: 2em;
  background-color: hsl(240, 100%, 85%);
  display: inline-block;
  border-radius: 1em;

  &::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 20px;
    display: block;
    width: 0;
    height: 0;
    border-right: 20px solid hsl(240, 100%, 85%);
    border-bottom: 15px solid #transparent;
    border-top: 15px solid transparent;
  }
}

.ballon-l {
  position: relative;
  padding: 2em;
  background-color: hsl(300, 100%, 85%);
  display: inline-block;
  border-radius: 1em;

  &::before {
    content: '';
    position: absolute;
    right: -20px;
    top: 20px;
    display: block;
    width: 0;
    height: 0;
    border-left: 20px solid hsl(300, 100%, 85%);
    border-bottom: 15px solid #transparent;
    border-top: 15px solid transparent;
  }
}

.schoolmap1, .schoolmap2 {
  cursor: zoom-in;
}

// change top image depend accessing devise
@media only screen and (min-device-width: 649px) {
  #top {
    min-height: 100%;
    background-image: url('../img/cover.png');
  }
}

@media only screen and (max-device-width: 648px) {
  #top {
    min-height: 100%;
    background-image: url('../img/cover_mobile.png');
  }
}
