@import '../node_modules/bulma/css/bulma.min';
@import '../node_modules/luminous-lightbox/dist/luminous-basic.min';

html, body {
  height: 100%;
  background-color: hsl(0, 0%, 98%);
}

.bg {
  position: relative;
  // background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40%;

  &#store {
    background-image: url('../img/store.png');
  }

  &#event {
    background-image: url('../img/event.png');
  }

  &#stage {
    background-image: url('../img/stage.png');
  }

  &#maps {
    background-color: hsl(180, 100%, 93%);
  }
}

.caption {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  color: PaleGreen;
  font-weight: bold;
  letter-spacing: 3px;

  .bg-gray {
    background-color: rgba(0, 0, 0, 0.25);
    padding: 10px 10px;
    border-radius: 7px;
  }
}

#twitter {
  background-color: hsl(210, 100%, 85%);
  @extend .has-text-white;
}

#infomations {
  background-color: hsl(60, 100%, 75%);

  .content {
    height: 20em;
    overflow: scroll;
  }
}

.post {
  text-align: justify;

  &-date {
    text-align: right;
    font-size: .8em;
  }
}

#sponsors {
  background-color: hsl(75, 100%, 65%);
  color: hsl(0, 0%, 37%);
}

.card {
  margin-bottom: 1.5rem;
}

.schoolmap1, .schoolmap2 {
  cursor: zoom-in;
}

// change top image depend accessing devise
@media only screen and (min-device-width: 649px) {
  #top {
    min-height: 50%;
    background-image: url('../img/cover.png');
  }
}

@media only screen and (max-device-width: 648px) {
  #top {
    min-height: 100%;
    background-image: url('../img/cover_mobile.png');
  }
}
