doctype html
html(lang='ja')
  head
    link(rel='stylesheet' href='css/main.css')
    //- web font
    script(type='text/javascript', src='//typesquare.com/3/tsst/script/ja/typesquare.js?5b77f4bda98c4e2e87126b04ac1e02ec', charset='utf-8')
    title 光芒祭2018

  body
    include partial/top.pug
    include partial/store.pug

    //- イベント紹介
    #event.bg
      h2.caption.is-size-2
        span.bg-gray イベント紹介

    section.section

    //- ステージ紹介
    #stage.bg
      h2.caption.is-size-2
        span.bg-gray ステージ紹介

    section.section

    include partial/access.pug
