#maps.bg
  h2.caption.is-size-2
    span アクセス・校内マップ

section.section
  .columns
    .column.is-8
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4593.816773818034!2d138.18635025256498!3d36.632439230667245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601d869ccaf0154d%3A0x7a8d02acc956e937!2z5L-h5bee5aSn5a2m5bel5a2m6YOo!5e0!3m2!1sja!2sjp!4v1534484098009" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen)
    .column
      article.message.is-info
        .message-header
          h2.is-size-6 How to come
        .message-body
          p 長野駅から徒歩約20分
          p 長野駅から徒歩約20分
          p 長野駅から徒歩約20分
          p 長野駅から徒歩約20分
          p 長野駅から徒歩約20分

section.section
  .message.is-info
    .message-body
      p.is-size-5 画像クリックで別タブにて表示されます。
  .columns
    .column
      figure.image
        a(href='img/schoolmap1.jpg' target='_blank')
          img(src='img/schoolmap1.jpg')
    .column
      figure.image
        a(href='img/schoolmap2.jpg' target='_blank')
          img(src='img/schoolmap2.jpg')
