#event.bg

section.section.event
  .tile.is-ancestor
    .tile.is-5.is-parent
      .tile.is-child.card
        .card-image
          figure.image.is-4by3
            img(src='img/event/e_lab.jpg')
        .card-content
          h3.title.is-size-4 サイエンス・ラボ
            .tag 企画展示
          .message.is-primary
            .message-body
              | 科学の世界へようこそ!!<br>
              | 科学のちからをつかった面白い展示が盛りだくさん!!<br>
              | 君は何個の不思議にであう??
          .message.is-info
            .message-body
              | 閲覧無料!
              | わからないことがあればお近くの光芒祭実行委員にお気軽にお尋ねください☆
          .message
            .message-body
              | 日時 : 10/20 10:00~17:00<br>
              | 場所 : C3講義棟 2階・3階
    .tile.is-vertical.is-parent
      .tile.is-child.box
        article.media
          .media-left
            figure.image.is-128x128
              img(src='img/event/e_candle.jpg')
          .media-content
            .content
              h3.title.is-size-5 アロマキャンドル作り
                .tag 体験企画
                .tag 参加費無料
              p 好きな色、好きなアロマでオリジナルのアロマキャンドルを作ってみませんか?
              .message
                .message-body
                  | 場所 : C3講義棟 2階301教室<br>
                  | 所要時間 : 約50分
      .tile.is-child.box
        article.media
          .media-left
            figure.image.is-128x128
              img(src='img/event/e_water.jpg')
          .media-content
            .content
              h3.title.is-size-5 つかめる?!水
                .tag 体験企画
                .tag 参加費無料
              p 「水をつかむ」ってどういうこと!?
              .message
                .message-body
                  | 場所 : C3講義棟 3階300教室<br>
                  | 所要時間 : 約40分
              .message.is-warning
                .message-body
                  | 水を使うので濡れるかもしれません。
                  | ハンカチなどをご持参ください。
      .tile.is-child.box
        article.media
          .media-left
            figure.image.is-128x128
              img(src='img/event/e_rocket.jpg')
          .media-content
            .content
              h3.title.is-size-5 野菜ロケット
                .tag 体験企画
                .tag 参加費無料
              p 野菜の力でロケットを打ち上げよう!
              .message
                .message-body
                  | 場所 : グラウンド<br>
                  | 所要時間 : 約20分
      .tile.is-child.box
        article.media
          .media-left
            figure.image.is-128x128
              img(src='img/event/e_cell.jpg')
          .media-content
            .content
              h3.title.is-size-5 細胞をみてみよう!!
                .tag 体験企画
                .tag 参加費無料
              p 顕微鏡でみてみよう!!
              .message
                .message-body
                  | 場所 : C3講義棟 1階102教室
      .tile.is-child.box
        article.media
          .media-left
            figure.image.is-128x128
              img(src='img/event/e_bouncyball.jpg')
          .media-content
            .content
              h3.title.is-size-5 スーパーボールを作ろう!
                .tag 体験企画
                .tag 参加費無料
              p まぜて すくって まるめると... 自分だけの<span class="has-text-weight-bold">アレ</span>ができる!
              .message
                .message-body
                  | 場所 : C3講義棟 2階203教室<br>
                  | 所要時間 : 約30分
