#stage.bg

//- ステージ紹介
section.section.stage
  .columns
    .column
      figure.image.stage-img.is-pulled-right
        img(src='img/stage/s_ashitabo.jpg')
    .column
      .ballon-r
        h3.title あしたぼ
        p
          | あしたぼでは光芒祭ライブをはじめ、年に4回程度の音楽室ライブやジャンクボックスなどライブハウスでのライブを行っており、毎回ライブに向けて楽しく練習しています。
          | 光芒祭での野外で行うステージライブは数少ない貴重な機会なので精一杯楽しみたいと思います。
          | よろしくお願いします。
        p.has-text-weight-bold from 00:00 to 00:00
  .columns
    .column
      .ballon-l
        h3.title Capel
        p
          | 機械音は一切使わない、人の声だけで素敵なハーモニーを奏でます。
          | 声は十人十色であり、それらが合わさった音楽はまさに唯一無二です。
          | 一度いつもとは違う音楽を聴いてみませんか。
        p.has-text-weight-bold from 00:00 to 00:00
    .column
      figure.image.stage-img-square
        img(src='img/stage/s_capel.jpg')
  .columns
    .column
      figure.image.stage-img.is-pulled-right
        img(src='img/stage/s_celts.jpg')
    .column
      .ballon-r
        h3.title S-Celts
        p
          | こんにちは！ケルト音楽を演奏するS-Celtsです！
          | ケルト音楽とはアイルランドを中心としたケルト圏の伝統音楽です。
          | 異国の音楽ですが、どこか懐かしい親しみやすい音色をお届けします。
          | 耳を澄ませて、ゆらりとお聞きください。
        p.has-text-weight-bold from 00:00 to 00:00
  .columns
    .column
      .ballon-l
        h3.title D@works
        p
          | 皆さんこんにちは！ダブルダッチサークルD@worksです！
          | 光芒祭の出演は今回で２度目となりますが、前回よりさらにパワーアップして帰ってきました。エネルギッシュなパフォーマンスで光芒祭をステージ上から盛り上げますので、乞うご期待！
        p.has-text-weight-bold from 00:00 to 00:00
    .column
      figure.image.stage-img
        img(src='img/stage/s_D-works.jpg')
  .columns
    .column
      figure.image.stage-img-squar.is-pulled-right
        img(src='img/stage/s_WDC.jpg')
    .column
      .ballon-r
        h3.title WDC
        p
          | 信州大学ストリートダンスサークルWDCです。壮大なステージ必見！
        p.has-text-weight-bold from 00:00 to 00:00
