#store.bg
  h2.caption.is-size-2
    span.bg-gray 模擬店紹介

//- 模擬店紹介
section.section
  .columns
    //- left
    .column.is-one-third
      .card
        .card-image
          figure.image.is-1by1
            img.is-rounded(src='img/booth/m_booth_01.png')
        .card-content
          .content.has-text-centered
            h2.title.is-size-4 ふとんがふっとんだ
            p
              | Let's アメリカンドラ～ッグ<br>
              | 最近流行りのインスタ映え☆豆電きゅうり！<br>
              | ダジャレ好きが贈る、アメリカンドッグときゅうり、食べにきて♡
            h2.is-size-6.has-text-weight-semibold 出店団体 : ふとんがふっとんだ
            h2.is-size-6.has-text-weight-semibold 出店時間 : 10:00~
      .card
        .card-image
          figure.image.is-1by1
            img.is-rounded(src='img/booth/m_booth_04.png')
        .card-content
          .content.has-text-centered
            h2.title.is-size-4 Night &amp; Day
            p JAZZの演奏を聴きながら、おいしいお酒を楽しみませんか？
            h2.is-size-6.has-text-weight-semibold 出店時間 : 18:00～
      .card
        .card-image
          figure.image.is-1by1
            img.is-rounded(src='img/booth/m_booth_07.png')
        .card-content
          .content.has-text-centered
            h2.title.is-size-4 おやじもよろこぶ粋な店
            p
              | お客様が0になったら閉店‼<br>
              | 今年もやっちゃいます‼<br>
              | お酒とおつまみのお店
            h2.is-size-6.has-text-weight-semibold 出店団体 : 中村・藤井研究室, 牛研究室
            h2.is-size-6.has-text-weight-semibold 出店時間 : お客様が0になるまで
      .card
        .card-image
          figure.image.is-1by1
            img.is-rounded(src='img/booth/m_booth_10.png')
        .card-content
          .content.has-text-centered
            h2.title.is-size-4 ブラックなカレー屋さん
            p
              | ブラックだからこその美味しいカレーライス<br>
              | また食べたくなる安定のクオリティーをお届け！
            h2.is-size-6.has-text-weight-semibold 出店団体 : 水野・卜研究室
            h2.is-size-6.has-text-weight-semibold 出店時間 : 10:00~17:00
      .card
        .card-image
          figure.image.is-1by1
            img.is-rounded(src='img/booth/m_booth_13.png')
        .card-content
          .content.has-text-centered
            h2.title.is-size-4 俺のあらびきフランクフルト
            p
              | フランクフルト半端無いって！<br>
              | こんなうまいとか聞いてないって！<br>
              | 200円で売ることできる、普通！？<br>
              | またまたまたまた200円やん！
            h2.is-size-6.has-text-weight-semibold 出店団体 : 信州大学柔道部
            h2.is-size-6.has-text-weight-semibold 出店時間 : 9:00~売り切れ御免?
      .card
        .card-image
          figure.image.is-1by1
            img.is-rounded(src='img/booth/m_booth_16.png')
        .card-content
          .content.has-text-centered
            h2.title.is-size-4 おつカレー!
            p
              | スパイスから作ったおいしいチキンカレー<br>
              | カレーとケルトは関係ないけど、<br>
              | ステージやるからカレー食べながら見てね！！
            h2.is-size-6.has-text-weight-semibold 出店団体 : S-celts
            h2.is-size-6.has-text-weight-semibold 出店時間 : 10:00~18:00
      .card
        .card-image
          figure.image.is-1by1
            img.is-rounded(src='img/booth/m_booth_19.png')
        .card-content
          .content.has-text-centered
            h2.title.is-size-4 シンチャオ
            p
              | 生姜が決め手！手作り豚汁で心も体もあったまろう♪<br>
              | お酒もあるから、みんなで楽しくワイワイできるよ♪
            h2.is-size-6.has-text-weight-semibold 出店団体 : 物質科学分野 修士2年
            h2.is-size-6.has-text-weight-semibold 出店時間 : 17:00~24:00
    
    //- center
    .column.is-one-third
      .card
        .card-image
          figure.image.is-1by1
            img.is-rounded(src='img/booth/m_booth_02.png')
        .card-content
          .content.has-text-centered
            h2.title.is-size-4 Vortex
            p 射的で豪華景品を当てよう!お酒もあるよ!
            h2.is-size-6.has-text-weight-semibold 出店団体 : Vortex
            h2.is-size-6.has-text-weight-semibold 出店時間 : 終日
      .card
        .card-image
          figure.image.is-1by1
            img.is-rounded(src='img/booth/m_booth_05.png')
        .card-content
          .content.has-text-centered
            h2.title.is-size-4 NICK &amp; JAGGER
            p
              | 飲みすぎは身体に悪いけど、魂には、ときどき優しい。<br>
              | 研究や勉強で疲れた体をリフレッシュしませんか。<br>
              | 朝まで営業します！
            h2.is-size-6.has-text-weight-semibold 出店団体 : 電気・電子東棟有志
            h2.is-size-6.has-text-weight-semibold 出店時間 : 前日　18:00～28:00 
      .card
        .card-image
          figure.image.is-1by1
            img.is-rounded(src='img/booth/m_booth_08.png')
        .card-content
          .content.has-text-centered
            h2.title.is-size-4 Shimons
            p
              | ～利益よりもお客様のために～<br>
              | フランクフルト等々売ってます。<br>
              | 全商品安さに自信あり！！（赤字覚悟)
            h2.is-size-6.has-text-weight-semibold 出店団体 : 林・村松研究室
            h2.is-size-6.has-text-weight-semibold 出店時間 : 当日開催期間中
      .card
        .card-image
          figure.image.is-1by1
            img.is-rounded(src='img/booth/m_booth_11.png')
        .card-content
          .content.has-text-centered
            h2.title.is-size-4 Cotten Candy Factory
            p 
              | Twitterに写真を上げれば、RTは止まらず、<br>
              | ちょｗｗｗお前ｗｗｗ有名人じゃんｗｗｗｗｗ<br>
              | とリプが来ること間違いなしです。
            h2.is-size-6.has-text-weight-semibold 出店団体 : 高村研究室
            h2.is-size-6.has-text-weight-semibold 出店時間 : 9:00~17:00
      .card
        .card-image
          figure.image.is-1by1
            img.is-rounded(src='img/booth/m_booth_14.png')
        .card-content
          .content.has-text-centered
            h2.title.is-size-4 焼き鳥 鳥奴隷
            p 美味しい焼き鳥売ってます。
            h2.is-size-6.has-text-weight-semibold 出店団体 : 新村研究室
            h2.is-size-6.has-text-weight-semibold 出店時間 : 10:00~17:00
      .card
        .card-image
          figure.image.is-1by1
            img.is-rounded(src='img/booth/m_booth_17.png')
        .card-content
          .content.has-text-centered
            h2.title.is-size-4 International Place
            p
              | 留学生計89名による伝統料理！<br>
              | 多文化共生、世界平和への答えが、<br>
              | 留学生との国際交流から生まれるかも、、、。
            h2.is-size-6.has-text-weight-semibold 出店団体 : 留学生会
            h2.is-size-6.has-text-weight-semibold 出店時間 : 11:00~18:00
      .card
        .card-image
          figure.image.is-1by1
            img.is-rounded(src='img/booth/m_booth_20.png')
        .card-content
          .content.has-text-centered
            h2.title.is-size-4 幻舞
            p
              | 日本酒は1年をかけて熟成していきますが、<br>
              | 特に暑い盛りの夏を超えると大変身。<br>
              | 秋にしか楽しめない円熟の味わいをあなたに。
            h2.is-size-6.has-text-weight-semibold 出店団体 : 中山研究室
            h2.is-size-6.has-text-weight-semibold 出店時間 : 17:00~24:00
    
    //- right
    .column.is-one-third
      .card
        .card-image
          figure.image.is-1by1
            img.is-rounded(src='img/booth/m_booth_03.png')
        .card-content
          .content.has-text-centered
            h2.title.is-size-4 焼き鳥 SHEY☆
            p
              | あたたかい焼き鳥やおでん、<br>
              | いろいろなお酒、<br>
              | ノンアルコールカクテルを用意しています！
            h2.is-size-6.has-text-weight-semibold 出店団体 : ふとんがふっとんだ
            h2.is-size-6.has-text-weight-semibold 出店時間 : 18日18:00~ <br> 19日終日 <br> 20日~12:00
      .card
        .card-image
          figure.image.is-1by1
            img.is-rounded(src='img/booth/m_booth_06.png')
        .card-content
          .content.has-text-centered
            h2.title.is-size-4 ぽてとや
            p
              | 揚げたてのポテトフライはいかがでしょうか。<br>
              | イベントの待ち時間、ステージをみながら、<br>
              | 小腹が空いたら、いつでもお待ちしてます!
            h2.is-size-6.has-text-weight-semibold 出店団体 : 西新研究室
            h2.is-size-6.has-text-weight-semibold 出店時間 : 10/20 10:00~18:00
      .card
        .card-image
          figure.image.is-1by1
            img.is-rounded(src='img/booth/m_booth_09.png')
        .card-content
          .content.has-text-centered
            h2.title.is-size-4 好焼
            p
              | お好み焼きとかイカとか焼いてます！<br>
              | 受注生産対応します！<br>
              | 細かい注文等あれば申し付けください！
            h2.is-size-6.has-text-weight-semibold 出店団体 : 少林寺拳法部
            h2.is-size-6.has-text-weight-semibold 出店時間 : 9:00~21:00
      .card
        .card-image
          figure.image.is-1by1
            img.is-rounded(src='img/booth/m_booth_12.png')
        .card-content
          .content.has-text-centered
            h2.title.is-size-4 ヤバいだしまき屋さん
            p
              | 長野市の某居酒屋で。<br>
              | 鍛錬に鍛錬を重ね習得した。<br>
              | 技術が光るふわふわあつあつだし巻きたまご。<br>
              | そこまでヤバくない
            h2.is-size-6.has-text-weight-semibold 出店団体 : 羽藤研究室
            h2.is-size-6.has-text-weight-semibold 出店時間 : 10:00~17:00
      .card
        .card-image
          figure.image.is-1by1
            img.is-rounded(src='img/booth/m_booth_15.png')
        .card-content
          .content.has-text-centered
            h2.title.is-size-4 旨ぇサワー鶏男の KOBO'sチッキン
            p
              | 今年から実行委員会も出店に参戦!<br>
              | 美味しい唐揚げと豊富なドリンクを用意しています!<br>
              | 小腹が空いたら本部横のテントへGO!
            h2.is-size-6.has-text-weight-semibold 出店団体 : 光芒祭実行委員会
            h2.is-size-6.has-text-weight-semibold 出店時間 : 10:00~売り切れるまで
      .card
        .card-image
          figure.image.is-1by1
            img.is-rounded(src='img/booth/m_booth_18.png')
        .card-content
          .content.has-text-centered
            h2.title.is-size-4 手打ちうどん澤田家
            p
              | 毎年恒例、手打ちうどん澤田家！<br>
              | 今年もうどん修行の旅に香川県まで行きます。<br>
              | 是非御賞味あれ。
            h2.is-size-6.has-text-weight-semibold 出店団体 : 澤田研究室
            h2.is-size-6.has-text-weight-semibold 出店時間 : 11:00~24:00(うどん粉が無くなり次第終了)
      .card
        .card-image
          figure.image.is-1by1
            img.is-rounded(src='img/booth/m_booth_21.png')
        .card-content
          .content.has-text-centered
            h2.title.is-size-4 O.P. 2018 Sato, Sonehara lab.
            p
              | 揚げ立てアツアツの揚げ物に冷たいビールはいかがですか？<br>
              | じっくり煮込んだ美味しいカレーや様々なドリンクも準備しています！
            h2.is-size-6.has-text-weight-semibold 出店団体 : 佐藤・曽根原研究室
            h2.is-size-6.has-text-weight-semibold 出店時間 : 11:00~23:00
