#top.bg

//- お知らせとTwitter
section.section
  .tile.is-ancestor
    .tile.is-vertical.is-8.is-parent
      article.tile.is-child.notification#infomations
        h2.title お知らせ
        h2.subtitle 光芒祭関連のお知らせだよ!
        .content
          .post
            h3.title.is-size-4.is-marginless ページ更新
            p.post-content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            p.post-date 2018.8.22
          .post
            h3.title.is-size-4.is-marginless ページ更新
            p.post-content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            p.post-date 2018.8.22
          .post
            h3.title.is-size-4.is-marginless ページ更新
            p.post-content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            p.post-date 2018.8.22
          .post
            h3.title.is-size-4.is-marginless ページ更新
            p.post-content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            p.post-date 2018.8.22
      article.tile.is-child.notification#sponsors
        h2.title Sponsored by
        .content.columns
          .column.is-4
            a(href='http://www.hakko-grp.jp/' target='_blank')
              img(src='../img/sponsor/s_hakko.png')
          .column.is-4
            a(href='http://www.maedaroad.co.jp/jobs/graduates/index.html' target='_blank')
              img(src='../img/sponsor/s_maeda.png')
          .column.is-4
            a(href='https://www.nagoya-denki.co.jp/' target='_blank')
              img(src='../img/sponsor/s_nagoya.png')
    .tile.is-parent
      article.tile.is-child.notification#twitter
        .content
          h2.title Twitter
          p
            a.twitter-timeline.tw-align-center(data-height='525', href='https://twitter.com/kobofes2018?ref_src=twsrc%5Etfw') Tweets by kobofes2018
          script(async src='https://platform.twitter.com/widgets.js' charset='utf-8')
